:host {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

header {
  padding: .5rem 0;
  h1 {
    padding: .5rem 0;
  }
}

section {
  margin: 2rem 0;
}

.actions {
  display: grid;
  grid-gap: 2rem;
  grid-template: auto / 1fr 1fr 1fr;
  .action {
    align-items: center;
    border-radius: .5rem;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .075);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2rem 1rem;
    svg {
      padding-bottom: 1rem;
    }
  }
}

.demos {
  margin: 6rem 0;
  .demo {
    margin: 4rem 0;
    .playground {
      border: 2px solid var(--lightColor);
      border-radius: .5rem;
      display: grid;
      grid-template: auto / 1fr 1fr;
      overflow: hidden;
    }
    .code {
      border-right: 2px solid var(--lightColor);
    }
    .demo-wrapper {
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .demo-exe {
      padding: 1rem;
    }
  }
}
