<header>
  <h1>sx-focus-listener</h1>
  <h2>
    <a href="https://github.com/navix/sx-focus-listener/">GitHub</a>
  </h2>
</header>

<div class="section">
  <div>
    <div #group="sxFocusGroup" sxFocusGroup>
      <h4>Group focused: {{ group.focusListener.focused | json }}</h4>
      <button sxFocusEl>In group!</button>
      <button sxFocusEl>In group!</button>
      <button sxFocusEl>In group!</button>
      <button>Out of group</button>
    </div>
    <div>
      <h4>Manual registration in group.</h4>
      <button [focusListener]="group.focusListener" sxFocusEl>Button in group!</button>
      <button>Out of group</button>
    </div>
  </div>
  <div>
    <pre class="code">{{ code }}</pre>
  </div>
</div>

<footer>
  Crafted by <a href="https://oleksanovyk.com">Oleksa Novyk</a>.
</footer>
