@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;600&display=swap');

:root {
  --mainColor: #1e0070;
}

body {
  background: #f6f6f6;
  color: var(--mainColor);
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 0 1rem;
}

a {
  color: var(--mainColor);
}

pre {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .9rem;
  line-height: 1rem;
}
